<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      th:replace="~{layout :: layout(contenido = ~{::main})}">
<th:block th:fragment="main">
  <main>
    <nav class="barra-pasos">
      <a th:href="@{/login/paso1}" class="paso">Paso 1</a>
      <a th:href="@{/login/paso2}" class="paso">Paso 2</a>
      <a th:href="@{/login/paso3}" class="paso">Paso 3</a>
      <a th:href="@{/login/resumen}" class="paso">Resumen</a>
    </nav>


    <h2>Inicio de sesión – Paso 1: Introducir email</h2>

    <div class="botones-estilo">
      <button onclick="activarEstiloDecorado(true)">Decorado</button>
      <button onclick="activarEstiloDecorado(false)">Sobrio</button>
    </div>

    <form th:action="@{/login/paso1}" th:object="${loginPaso1}" method="post">
      <label for="email">Email</label>
      <input type="text" id="email" th:field="*{email}" placeholder="usuario@dominio.com">
      <p th:if="${mostrarErrores} and ${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></p>

      <div class="form-buttons">
        <input type="reset" value="Resetear formulario">
        <button type="submit">Siguiente</button>
      </div>
    </form>
  </main>
</th:block>
</html>
